@model RikaDatas.Models.PagedList

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="ApplyFix">Fix Sales</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                fdistid
            </th>
            <th>
                fdst_ledgerid
            </th>
            <th>
                finv_date
            </th>
            <th>
                fqty
            </th>
            <th>
                fcompanyid
            </th>
            <th>
                fproductid
            </th>
            <th>
                fsiteid
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.fdistid)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.fdst_ledgerid)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.finv_date)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fqty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fcompanyid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fproductid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fsiteid)
                </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>

<div style="margin-top: 20px;">
    @if (Model.HasPreviousPage)
    {
        <a href="@Url.Action("Index", new { page = Model.PageIndex - 1 })" class="btn btn-primary">Previous</a>
    }

    <span>Page @Model.PageIndex of @Model.TotalPages</span>

    @if (Model.HasNextPage)
    {
        <a href="@Url.Action("Index", new { page = Model.PageIndex + 1 })" class="btn btn-primary">Next</a>
    }
</div>
